<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="askquestion_questions_listing_data_source" xsi:type="string">Blueskytechco\AskQuestion\Model\ResourceModel\Question\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Blueskytechco\AskQuestion\Model\ResourceModel\Question\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">askquestion_questions</argument>
            <argument name="resourceModel" xsi:type="string">Blueskytechco\AskQuestion\Model\ResourceModel\Question</argument>
        </arguments>
    </virtualType>
</config>