<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="saerch_suite" frontName="saerch_suite">
			<module name="Blueskytechco_SearchSuite" />
        </route>
    </router>
</config>
