.icon-pagebuilder-product-advanced {
    content: url('@{baseDir}Blueskytechco_PageBuilderCustom/css/images/content-type/product-advanced/appearance/icon-pagebuilder-product-advanced.svg');
    width: 18px;
    height: 18px;
    margin-bottom: -1px;
}
[data-content-type='product_advanced'] .pagebuilder-product-advanced-placeholder, .pagebuilder-product-advanced .pagebuilder-product-advanced-placeholder {
    align-items: center;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    min-height: 300px;
}

[data-content-type='product_advanced'] .pagebuilder-product-advanced-placeholder .placeholder-text, .pagebuilder-product-advanced .pagebuilder-product-advanced-placeholder .placeholder-text {
    color: #aaa6a0;
    font-size: 20px;
    font-weight: lighter;
}
.admin__field-visual-css-template-product-widget-advanced-grid-container .admin__field-visual-select ol li,
.admin__field-visual-css-template-product-widget-advanced-carousel-container .admin__field-visual-select ol li{
    padding : 0 !important;
}
.admin__field-visual-css-template-product-widget-advanced-grid-container .admin__field-visual-select ol li span, 
.admin__field-visual-css-template-product-widget-advanced-grid-container .admin__field-visual-select ol li br,
.admin__field-visual-css-template-product-widget-advanced-carousel-container .admin__field-visual-select ol li span, 
.admin__field-visual-css-template-product-widget-advanced-carousel-container .admin__field-visual-select ol li br {
    display: none !important;
}
.advanced-load-more {
    text-decoration: none;
    background-image: none;
    background: #ffffff;
    border: 1px solid var(--button__hover__background);
    color: var(--button__color);
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-weight: var(--button__font-weight);
    margin: 0 10px 10px 0;
    font-size: 1.6rem;
    box-sizing: border-box;
    vertical-align: middle;
    line-height: 2.2rem;
    padding: var(--button_padding);
    font-size: 1.8rem;
    border-radius: var(--button__border-radius);
    font-weight: 600;
} 
.advanced-load-more:hover,
.advanced-load-more:active,
.advanced-load-more:focus {
    text-decoration: none;
}
.advanced-load-more:focus,
.advanced-load-more:active {
    background: var(--button__hover__background);
    border: 1px solid var(--button__hover__background);
    color: var(--button__hover__color);
}
.advanced-load-more:hover {
    background: var(--button__hover__background);
    border: 1px solid var(--button__hover__background);
    color: var(--button__hover__color);
}