<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Blueskytechco_AskQuestion::askquestion" title="Product Questions" translate="title" module="Blueskytechco_AskQuestion" parent="Blueskytechco_RokanBase::rokanbase" sortOrder="100" resource="Blueskytechco_AskQuestion::askquestion" />
        <add id="Blueskytechco_AskQuestion::questions_list" title="Manage Questions" translate="title" module="Blueskytechco_AskQuestion" sortOrder="10" parent="Blueskytechco_AskQuestion::askquestion" action="askquestion/questions" resource="Blueskytechco_AskQuestion::questions_list" />
		<add id="Blueskytechco_AskQuestion::configuration" title="Settings" module="Blueskytechco_AskQuestion" sortOrder="20" parent="Blueskytechco_AskQuestion::askquestion" action="adminhtml/system_config/edit/section/question_email" resource="Blueskytechco_AskQuestion::configuration"/>
    </menu>
</config>