<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Blueskytechco_StoreLocator::storelocator" title="Store Locator" translate="title" module="Blueskytechco_StoreLocator" sortOrder="510" parent="Blueskytechco_RokanBase::rokanbase" resource="Blueskytechco_StoreLocator::configuration" />
        <add id="Blueskytechco_StoreLocator::stores_list" title="Manage Stores" translate="title" module="Blueskytechco_StoreLocator" sortOrder="530" parent="Blueskytechco_StoreLocator::storelocator" action="storelocator/stores" resource="Blueskytechco_StoreLocator::stores" />
		<add id="Blueskytechco_StoreLocator::configuration" title="Settings" translate="title" module="Blueskytechco_StoreLocator" sortOrder="540" parent="Blueskytechco_StoreLocator::storelocator" action="adminhtml/system_config/edit/section/storelocator" resource="Blueskytechco_StoreLocator::configuration" />
	</menu>
</config>