/* Custom Data 2022-06-30 02:36:40: Do not change this file. */

:root{
	/* Page Width */
	
	/* Body Font */
		--font-family-name__base: 'Jost', sans-serif;
			--font-size__base: 16px;
			--text-weight: 400;
	
	/* Heading Font */
			--heading__font-family__base: 'Jost', sans-serif;
			--heading__font-weight__base: 700;
		
	/* Menu Font */
			--navigation-level0-item__font-family:  'Jost', sans-serif;
			--naviation-level0-item__font-size: 14px;
			--navigation-level0-item__font-weight: 600;
			
	/* Other Font */
		--other_font_family: 'Jost', sans-serif;
	
	/* Theme Colors */
	
	/* Basic Colors */
		
	
	/* Buttons Colors */
		
	/* Custom Sticky Background Color */
	
	/* Custom Header */
			--topbarbg: #000000;
			--topbarcolor: #FFFFFF;
				
	/* Custom Footer */
			--footer-title-color: #FFFFFF;
			--footer-links-color: #C0C0C0;
			
	/* Custom Menu */
	
	/* Page wraper */
	}
@media (min-width: 1200px){
	.cms-index-index .header-absolute{
			}
	.cms-index-index .header-container:not(.header_scroll_up) .header_light{
										}
}


	body{
		font-weight: var(--text-weight);
	}
	body{
		font-size: var(--font-size__base);
	}

/* Custom Header */
header.page-header{
	}



/* Custom Footer */
footer.page-footer{
	}






/* Customization Style */
:root{
--bls_elementor-static-menu-title--font-size: 1.4rem;
--button__font-size: 1.4rem;
--button__font-weight: 700;
--headings__font-weight-secondary: 600;
--button__text_transform: uppercase;
--product_item-size: 1.4rem;
--navigation-level0-item__text-transform: uppercase;
}
.widget-category-thumbnail-image{
--category_item_title-text-transform: uppercase;
}
.products-grid .product-item-name{
text-transform: uppercase; 
letter-spacing: 1px;
--headings__font-weight-secondary: 600;
}
[data-content-type="newsletter"]{
    --border-color: transparent;
    --form-subscribe-background: transparent;
--button__background:  transparent;
border-bottom: 2px solid #000;
}
.elementor-newsletter-wrapper .actions-subscribe button{
padding: 0;
    font-size: 14px;
    background: transparent;
    box-shadow: none !important;
    color: #000;
    border: 0;
}
[data-content-type="newsletter"] button:after{
display: none;
}
.elementor-newsletter-wrapper .field-newsletter{
padding-left: 0;
}
.elementor-newsletter-wrapper .field-newsletter:before{
display: none;
}
.elementor-newsletter-wrapper .field-newsletter input{
padding-left: 0;
font-size: 16px;
}
.post-title{
--post_item_title-size: 1.8rem;
--headings__font-weight-secondary: 700;
text-transform: uppercase;
text-align: center;
}
.post-info{
text-align: center;
}
