/* Custom Data 2022-08-03 03:06:34: Do not change this file. */

:root{
	/* Page Width */
	
	/* Body Font */
		--font-family-name__base: 'Jost', sans-serif;
			--font-size__base: 16px;
			--text-weight: 400;
	
	/* Heading Font */
			--heading__font-family__base: 'Jost', sans-serif;
			--heading__font-weight__base: 700;
		
	/* Menu Font */
		
	/* Other Font */
		--other_font_family: 'Jost', sans-serif;
	
	/* Theme Colors */
	
	/* Basic Colors */
		
	/* Buttons Colors */
		
	/* Custom Sticky Background Color */
	
	/* Custom Header */
			--topbarbg: #000000;
			--topbarcolor: #FFFFFF;
				
	/* Custom Footer */
					--footer__background-color: #EFEDED;
		
	/* Custom Menu */
	
	/* Page wraper */
	}
@media (min-width: 1200px){
	.cms-index-index .header-absolute{
			}
	.cms-index-index .header-container:not(.header_scroll_up) .header_light{
										}
}


	body{
		font-weight: var(--text-weight);
	}
	body{
		font-size: var(--font-size__base);
	}
/* Custom Header */
header.page-header{
	}



/* Custom Footer */
footer.page-footer{
	}






/* Customization Style */
@media (min-width: 768px){
  .blueskytechco_quickview-product-view .page-wrapper .product-info-main::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    right: 15px;
    bottom: 0;
    z-index: 1;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(94%,rgba(255,255,255,0)),to(#fff));
    background: -webkit-linear-gradient(top,rgba(255,255,255,0) 94%,#fff 100%);
    background: linear-gradient(to bottom,rgba(255,255,255,0) 94%,#fff 100%);
  }
}
:root {
    --navigation-level0-item__text-transform: uppercase;
   --navigation-desktop__font-size: 1.4rem;
    --navigation-level0-item__font-weight: 700;
    --headings__font-weight-secondary: 700;
    --button__border-radius: 30px;
    --button__font-size: 1.4rem;
   --product_grid_space_vertical:5rem;
--bls_elementor-static-menu-title-font-weight:700;
--bls_elementor-static-menu-title--font-size:1.4rem;
--social__link__size:2rem;
--product_item-size: 1.4rem;
--button__text_transform: uppercase;
}
.widget-category-thumbnail-image {
    --category_item_title-text-transform: uppercase;
}
.white-button .pagebuilder-button-primary {
    color: #000;
    --heading__color__base: #fff;
    --button-primary__background: #fff;
}
.white-button .pagebuilder-button-primary:hover{
box-shadow:0 0 0 0.2rem #fff !important ;
}
.elementor-image-box-title {
   --bls_image-box-title-font-size:1.6rem;
}
[data-image-box-position="top"] .elementor-image-box-img {
    margin: 0 0 6px;
}
[data-content-type="newsletter"]{
    --border-color: transparent;
    --form-subscribe-background: transparent;
--button__background:  transparent;
border-bottom: 2px solid #000;
}
[data-content-type="newsletter"] button{
padding-right: 0;
 --button__border-radius: 0px;
}
.elementor-newsletter-wrapper .field-newsletter{
padding-left: 0;
}
.elementor-newsletter-wrapper .field-newsletter:before{
display: none;
}
.elementor-newsletter-wrapper .field-newsletter input{
padding-left: 0;
font-size: 16px;
}
.product-item .product-item-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 6px;

}
.product-item-name{
text-transform: uppercase;
    font-size: 14px;
    margin: 0 !important;
}

