/* Custom Data 2022-09-09 08:04:45: Do not change this file. */

:root{
	/* Page Width */
		--layout__max-width: 1920px;
	
	/* Body Font */
		--font-family-name__base: 'Roboto', sans-serif;
			--font-size__base: 16px;
			--text-weight: 400;
	
	/* Heading Font */
			--heading__font-family__base: 'Teko', sans-serif;
			--heading__font-weight__base: 700;
		
	/* Menu Font */
			--navigation-level0-item__font-family:  'Roboto', sans-serif;
			--naviation-level0-item__font-size: 16px;
			--navigation-level0-item__font-weight: 700;
			
	/* Other Font */
		--other_font_family: 'Roboto', sans-serif;
	
	/* Theme Colors */
		--theme__color__primary: #ECFF12; 
	
	/* Basic Colors */
		
	/* Buttons Colors */
		--button__border-radius: 0pxpx;
		
	/* Custom Sticky Background Color */
	
	/* Custom Header */
					--header-icons-color: #FFFFFF;
			--header__background-color: #000000;
		
	/* Custom Footer */
			--footer-title-color: #FFFFFF;
			--footer-links-color: #FFFFFF;
			--footer__background-color: #1B1B1B;
		
	/* Custom Menu */
			--navigation-level0-item__color: #FFFFFF;
					
	/* Page wraper */
	}
@media (min-width: 1200px){
	.cms-index-index .header-absolute{
							}
	.cms-index-index .header-container:not(.header_scroll_up) .header_light{
								--navigation-level0-item__color: #FFFFFF;
						--navigation-desktop-level0-item__hover__color: var(--navigation-level0-item__color);
										--header-icons-color: #FFFFFF;
						}
}


/* Icon LazyLoad */
img.lazyload,  
img.lazyloading,
img.swatch-option-loading,
.fotorama__spinner,
.data-bgset-image-wrapper.lazyload:after,
.data-bgset-image-wrapper.lazyloading:after{
	background-image: url("//azexchangeclub.com/niches_minimog/media/blueskytechco/lazyload/default/loading.gif");	background-repeat: no-repeat;
    animation: none;
    background-position: center;
	--lazyload_bg_size: 100px;
}
	body{
		font-weight: var(--text-weight);
	}
	body{
		font-size: var(--font-size__base);
	}
	footer{
		--footer-links-color: #FFFFFF;
		--link__color: #FFFFFF;
	}
	

/* Custom Header */
header.page-header{
	}



/* Custom Footer */
footer.page-footer{
	}






/* Customization Style */
:root {
    --navigation-level0-item__text-transform: uppercase;
    --counter_qty-color: #000;
    --button-primary__hover__background: var(--theme__color__primary);
    --button-primary__hover__color: #222;
    --button__hover__background: var(--theme__color__primary);
    --button__shadow: 0 0 0 0.2rem var(--theme__color__primary);
    --button__hover__color: #222;
    --button-primary__background: var(--theme__color__primary);
    --button-primary__color: #222;
    --button__text_transform: uppercase;
    --bls_elementor-static-menu-title--font-size: 20px;
    --bls_elementor-static-menu-title--text-transform: uppercase; 
    --product-name-text-transform: uppercase;
--heading__text-transform: uppercase;
--layout__max-width: 1650px;
    --button__font-weight: 700;

}

.color-white .pagebuilder-button-link {
    --bls_border-color: var(--theme__color__primary);
}
.color-white .pagebuilder-button-link:visited{
color:#fff;
}
.tm-button .pagebuilder-button-link{
    font-size: unset;
    line-height: 1;
    font-family: var(--heading__font-family__base, false);
}
a.pagebuilder-button-link:hover {
    color: #fff;
}

.header__action .block.block-search .search-popup-link {
    --counter_qty-color: #000;
}

#back-top {
    color: #000;
}

.page-footer ul.social-link li a {
    --social__link__size: 2rem;
}

.lh-1 h2,
.lh-1 h3 {
    line-height: 1 !important;
}
a.pagebuilder-button-primary,
a.pagebuilder-button-link{
    letter-spacing: 1px;
}
.elementor-newsletter-wrapper .actions-subscribe button {
    background-color: var(--theme__color__primary);
}

.elementor-newsletter-wrapper input {
    height: 48px;
}

.elementor-newsletter-wrapper .form-subscribe {
    padding: 0;
}

.product-label .onsale {
    color: #222;
}
.navigation ul.header-links-account li.header-links > a span{
color: #222;
}
.cms-index-index .product-item-name>a,.cms-index-index .product-item-name > a:visited {
    color: #fff;
}
.cms-index-index{
--button_padding: 13px 40px;
}
.cms-index-index #maincontent{
    background-color: #000000;
}
.product-item-name>a {
    font-family: var(--heading__font-family__base, false);
    letter-spacing: 1px;
    font-size: 18px;
}

.cms-index-index .product-info-main .price-final_price *,
.cms-index-index .product-item .price-final_price *,
.cms-index-index .product-info-main .price-configured_price *,
.cms-index-index .product-item .price-configured_price * {
    color: var(--theme__color__primary);
}

.cms-index-index .product-info-main .old-price,
.cms-index-index .product-item .old-price,
.cms-index-index .product-info-main .old-price *,
.cms-index-index .product-item .old-price *,
.cms-index-index .product-info-main .old-price .price-final_price *,
.cms-index-index .product-item .old-price .price-final_price * {
    color: #ababab !important;
}


@media (min-width: 992px) {
    .w-400 {
        max-width: 400px;
    }

    .elementor-newsletter-wrapper {
        max-width: 450px;
    }

    .w-250 {
        max-width: 250px;
        margin: 0 auto
    }

    .w-490>div {
        max-width: 490px;
    }
}

@media (min-width: 768px) {
    [data-content-type='row'][data-appearance='full-width']>.row-full-width-inner {
        width: 95%;
    }
}
@media (max-width: 992px) {
.order-lg{
    order: -1;
}
}

@media (max-width: 576px) {
 [data-content-type='button-item']{
    width: 100%;
}
.w-xs-100 a.pagebuilder-button-primary{
 width: 100%;
    padding: 10px 40px !important;
}
}




